* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.article {
    width: 50%;
    height: auto;
    border: 16px solid #bdc3c7;
    margin: 2% auto auto auto;
}

.content {
    margin: 0px;

    padding: 5%;
}

h4 {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 5%;
}
h2 {
    padding-bottom: 5%;
}
span {
    border-left: 1px solid #bdc3c7;
    display: block;
    padding-left: 10px;
}
p {
    padding-top: 2%;
    padding-bottom: 2%;
}